[submodule "libmowgli-2"]
	path = libmowgli-2
	url = https://bitbucket.org/chatlounge/libmowgli-2.git
[submodule "modules/contrib"]
	path = modules/contrib
	url = https://github.com/ChatLounge/ChatServices-contrib-modules.git
